#close-sharebelt {
  margin-left: -6px;
  margin-top: -18px;
  color: white;
  float: left;
  font-weight: bold;
  font-family: Helvetica;
  cursor: hand;
}

#sharebelt-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: fixed !important;
  display: block;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity 2s ease 1s;
  -moz-transition: opacity 2s ease 1s;
  -o-transition: opacity 2s ease 1s;
  transition: opacity 2s ease 1s;
}

.top {
  top: 0
}

.bottom {
  top: 100%;
  margin: -60px auto 0 auto;
}

.visible {
  opacity: 0.9 !important;
}
.sharebelt {
  height: 60px;
  line-height: 30px;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 9998;
	background: rgba(0, 0, 0, 0.9);
  color: white;
}

.direct {
}

.sharebelt.twitter {
	width: 100%;
	color: white;
	height: 44px;
	padding: 15px;
}


.facebook {
  padding-top: 2px;
  height: 70px;
  color: white;
}

.facebook iframe .uiIconText {
  color: white !important;
}
