#sharebelt-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
  overflow: visible;
  padding: 0;
  position: fixed !important;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.sharebelt {
  height: 60px;
  line-height: 30px;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 9998;
  background-color: black;
}

.direct {
}

.twitter {
}

.facebook {
}
