%h2
  Settings for
  = @site.name

%textarea
  <script src="http://sharebelt.com/javascripts/sharebelt.js" type="text/javascript"></script>
  <div id="sharebelt-wrapper"></div>

= link_to 'Edit', edit_site_path(@site)
\|
= link_to 'Back', sites_path
